<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ImageConverter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
            min-width: 1500px;
        }
    </style>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- <h1>{{worked}}</h1>
         -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <h1 class="navbar-brand">Created Artwork</h1>
    </nav>
    <table>
        <tr>
            <td>
                <a href="../static/output/banksyOutput.jpg" download>
                    <img src="../static/output/banksyOutput.jpg">
                </a>
                <h3>&nbsp;&nbsp;Banksy</h3>
            </td>
            <td>
                <a href="../static/output/daliOutput.jpg" download>
                    <img src="../static/output/daliOutput.jpg">
                </a>
                <h3>&nbsp;&nbsp;Dali</h3>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../static/output/goghOutput.jpg" download>
                    <img src="../static/output/goghOutput.jpg">
                </a>
                <h3>&nbsp;&nbsp;Van Gogh</h3>
            </td>
            <td>
                <a href="../static/output/kahloOutput.jpg" download>
                    <img src="../static/output/kahloOutput.jpg">
                </a>
                <h3>&nbsp;&nbsp;Kahlo</h3>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../static/output/kandinskiyOutput.jpg" download>
                    <img src="../static/output/kandinskiyOutput.jpg">
                </a>
                <h3>&nbsp;&nbsp;Kandinskiy</h3>
            </td>
            <td>
                <a href="../static/output/monetOutput.jpg" download>
                    <img src="../static/output/monetOutput.jpg">
                </a>
                <h3>&nbsp;&nbsp;Monet</h3>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../static/output/nagaiOutput.jpg" download>
                    <img src="../static/output/nagaiOutput.jpg">
                </a>
                <h3>&nbsp;&nbsp;Nagai</h3>
            </td>
            <td>
                <a href="../static/output/picassoOutput.jpg" download>
                    <img src="../static/output/picassoOutput.jpg">
                </a>
                <h3>&nbsp;&nbsp;Picasso</h3>
            </td>
        </tr>
    </table>
    <a href="/">Back</a>
    <script src="" async defer></script>
</body>

</html>