<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <h1>Convert Pictures to Art</h1>
    <form method="post" enctype="multipart/form-data">
    <!-- <form method="post" > -->
    
      <input type=file name=file accept="image/png, image/jpeg">
      <div>
          <br>
          
      </div>
      <input type=submit value=Upload>

        <!-- <input type="file" id="content" name="content" accept="image/png, image/jpeg"> -->
        <!-- <input type="submit" value="Convert!"> -->
    </form>
    
    <script src="" async defer></script>

</body>

</html>